.card {
  margin-bottom: 15px;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navLinkCard {
  display: inline-block;
  &::first-letter {
    text-transform: capitalize;
  }
  &:hover {
    color: #ccc;
  }
}
