body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 20px auto 0;
  max-width: 960px;
  width: 100%;
}

.post-banner {
  max-height: 400px;
}

.post-item-image {
  height: 100px;
  width: 100px;
  background: #ccc;
  border-radius: 6px;
}

.post-enter {
  opacity: 0;
}

.post-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.postTitle::first-letter {
  text-transform: uppercase;
}
